/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #636075 !important;
  --toolbarbutton-icon-fill: #c8c3dc !important;
  --toolbar-field-color: #e5e1e3 !important;
  --tab-selected-textcolor: #c8c3dc !important;
  --toolbar-color: #e5e1e3 !important;
  --arrowpanel-color: #e5e1e3 !important;
  --arrowpanel-background: #201f21 !important;
  --sidebar-text-color: #e5e1e3 !important;
  --zen-main-browser-background: #141315 !important;
  --zen-main-browser-background-toolbar: #141315 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #141315 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #141315 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #201f21 !important;
}

#zen-workspaces-button {
  background-color: #201f21 !important;
}

#TabsToolbar {
  background-color: #141315 !important;
}

.urlbar-background {
  background-color: #201f21 !important;
}

.urlbar-input::selection {
  color: #302e41 !important;
  background-color: #c8c3dc !important;
}

.urlbarView-url {
  color: #c9c5cd !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c8c3dc
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #dfdaf2 !important;
  --identity-icon-color: #dfdaf2 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c8c3dc !important;
  --identity-icon-color: #c8c3dc !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb7 !important;
  --identity-icon-color: #a5ffb7 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe7a5 !important;
  --identity-icon-color: #ffe7a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd972 !important;
  --identity-icon-color: #ffd972 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb4 !important;
  --identity-icon-color: #ff9fb4 !important;
}

.identity-color-pink {
  --identity-tab-color: #eeeaff !important;
  --identity-icon-color: #eeeaff !important;
}

.identity-color-purple {
  --identity-tab-color: #545065 !important;
  --identity-icon-color: #545065 !important;
}

#zen-appcontent-navbar-container {
  background-color: #141315 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c8c3dc !important;
  color: #c8c3dc !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c8c3dc !important;
  color: #c8c3dc !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c8c3dc !important;
}
